- q_params = params[:q]&.permit! || {}

#wrapper.section.overflow-hidden.position-relative
  = render "users/panel/sidebar"
  .page-content-wrapper.py-0
    / Admin Tab Menu Start
    .nav.flex-column.nav-pills.admin-tab-menu
      = link_to "Wszystkie", { q: q_params.except(:state_eq) }, class: ("active" if q_params[:state_eq].nil?)
      = link_to "Aktywne", { q: q_params.merge(state_eq: :active) }, class: ("active" if q_params[:state_eq] == "active")
      = link_to "Odebrane", { q: q_params.merge(state_eq: :completed) }, class: ("active" if q_params[:state_eq] == "completed")
      = link_to "Anulowane", { q: q_params.merge(state_eq: :cancelled) }, class: ("active" if q_params[:state_eq] == "cancelled")
    / Admin Tab Menu End

    / Page Content Wrapper Start
    .main-content-wrapper
      .container-fluid
        %h2.mb-3 Rezerwacje

        .admin-top-bar.d-flex.flex-wrap
          = search_form_for @q, url: users_food_providers_reservations_path, method: :get do |f|
            = hidden_field_tag "q[state_eq]", q_params["state_eq"] if q_params["state_eq"].present?
            %ul.nav
              %li
                = f.search_field :hashid_or_offer_name_cont, placeholder: "Nazwa lub hashid", class: "mt-0"
              %li
                .tab-btn.pt-0
                  = f.submit "Szukaj 🔍", class: "btn btn-primary btn-hover-dark rounded-3 px-4"

        / Message Start
        -# .message.mt-5
          .message-icon
            %img{alt: "", src: asset_path("menu-icon/icon-6.png")}/
          .message-content
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.
        / Message End

        / Engagement Courses End
        - if @reservations.any?
          .engagement-courses.table-responsive
            .courses-top
              %ul
                %li Nazwa paczki
                %li Status
                %li= sort_link @q, :picked_up, "Data odbioru" 
                %li= sort_link @q, :created_at, "Data zamówienia" 
                %li
            .courses-list
              %ul
                - @reservations.each do |reservation|
                  %li
                    .courses
                      .thumb
                        - if reservation.offer.main_image.attached?
                          = image_tag reservation.offer.main_image_square
                        - else
                          %img{alt: "Courses", src: asset_path("courses/admin-courses-01.jpg")}/
                      .content
                        %a{href: users_food_providers_reservation_path(reservation)}
                          %h4.title= reservation.offer.name
                          %p= reservation.beneficiary.name
                          %p= "Id: #{reservation.hashid}"
                    .taught
                      %span= t("activerecord.attributes.reservation.states.#{reservation.state}")
                    .student
                      %span= reservation.picked_up? ? l(reservation.picked_up, format: :short) : "ok"
                    .student
                      %span= l(reservation.created_at, format: :date)
                    .button
                      %a.btn.btn-light.btn-hover-secondary{href: users_food_providers_reservation_path(reservation)} 🔍
          = render "users/panel/pagination"
        - else
          .vh-100
            %h3.text-center.mt-5 Nie masz żadnych rezerwacji 🙁

        / Engagement Courses End
    / Page Content Wrapper End
/ Courses Admin End

/ Back To Start
%a.back-to-top{href: "#"}
  %i.icofont-simple-up
