.form-wrapper
  = simple_form_for(@offer, url: @offer.persisted? ? users_food_provider_offer_path(@offer.hashid) : users_food_provider_offers_path) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :name
      = f.input :description
      = f.input :initial_quantity, input_html: { min: 1 }
      = f.input :available_from, as: :date, html5: true
      -# = f.input :available_to

    .form-actions
      = f.button :submit, "Zapisz ofertę", class: "btn btn-secondary btn-hover-dark w-100"
