.main-wrapper
  / Header Section Start
  .header.section
    / Header Main Start
    .header-main
      .container
        / Header Wrapper Start
        .header-wrapper
          / Header Logo Start
          .header-logo
            %a{:href => root_path}
              %img{:alt => "Logo", :src => asset_path("logo.png")}/
          / Header Logo End
          / Header Menu Start
          .header-menu.d-none.d-lg-flex
            %ul.nav-menu
              %li
                %a.active{:href => home_index_path} Strona główna
              %li
                %a{:href => "#"} O nas
              -# %li
                %a{:href => "#"} All Course
                %ul.sub-menu
                  %li
                    %a{:href => "courses.html"} Courses
                  %li
                    %a{:href => "my-courses.html"} My Courses
                  %li
                    %a{:href => "#"} Courses Details
                    %ul.sub-menu
                      %li
                        %a{:href => "courses-details-left-sidebar.html"} Courses Details Left Sidebar
                      %li
                        %a{:href => "courses-details-right-sidebar.html"} Courses Details Right Sidebar
              -# %li
                %a{:href => "#"} Pages
                %ul.sub-menu
                  %li
                    %a{:href => "after-enroll.html"} After Enroll
                  %li
                    %a{:href => "courses-admin.html"} Instructor Dashboard (Course List)
                  %li
                    %a{:href => "overview.html"} Instructor Dashboard (Performance)
                  %li
                    %a{:href => "students.html"} Students
                  %li
                    %a{:href => "reviews.html"} Reviews
                  %li
                    %a{:href => "engagement.html"} Course engagement
                  %li
                    %a{:href => "traffic-conversion.html"} Traffic & conversion
                  %li
                    %a{:href => "messages.html"} Messages
                  %li
                    %a{:href => "register.html"} Register
                  %li
                    %a{:href => "login.html"} Login
                  %li
                    %a{:href => "faq.html"} FAQ
                  %li
                    %a{:href => "404-error.html"} 404 Error
              -# %li
                %a{:href => "#"} Blog
                %ul.sub-menu
                  %li
                    %a{:href => "#"} Blog
                    %ul.sub-menu
                      %li
                        %a{:href => "blog-grid.html"} Blog Grid
                      %li
                        %a{:href => "blog-left-sidebar.html"} Blog Left Sidebar
                      %li
                        %a{:href => "blog-right-sidebar.html"} Blog Right Sidebar
                  %li
                    %a{:href => "#"} Blog Details
                    %ul.sub-menu
                      %li
                        %a{:href => "blog-details-left-sidebar.html"} Blog Details Left Sidebar
                      %li
                        %a{:href => "blog-details-right-sidebar.html"} Blog Details Right Sidebar
              %li
                %a{ href: new_contact_path } Kontakt
            .header-btn
              %a.btn.btn-success.btn-hover-primary{ href: new_user_registration_path } Dołącz
              %a.btn.btn-secondary.btn-hover-primary{ href: new_user_session_path } Zaloguj się
          / Header Menu End
          / Header Toggle Start
          .header-toggle.d-lg-none
            %a.btn.btn-success.btn-hover-primary{ href: new_user_registration_path } Dołącz
            %a.btn.btn-secondary.btn-hover-primary{ href: new_user_session_path } Zaloguj się


          / Header Toggle End
        / Header Wrapper End
    / Header Main End
  / Header Section End
  / Mobile Menu Start
  .mobile-menu
    / Menu Close Start
    %a.menu-close{:href => "javascript:void(0)"}
      %i.icofont-close-line
    / Menu Close End
    / Mobile Menu Start
    .mobile-menu-items
      %ul.nav-menu
        %li
          %a.active{:href => root_path} Strona główna
        %li
          %a{:href => "about.html"} About Us
        %li
          %a{:href => "#"} All Course
          %ul.sub-menu
            %li
              %a{:href => "courses.html"} Courses
            %li
              %a{:href => "my-courses.html"} My Courses
            %li
              %a{:href => "#"} Courses Details
              %ul.sub-menu
                %li
                  %a{:href => "courses-details-left-sidebar.html"} Courses Details Left Sidebar
                %li
                  %a{:href => "courses-details-right-sidebar.html"} Courses Details Right Sidebar
        %li
          %a{:href => "#"} Pages
          %ul.sub-menu
            %li
              %a{:href => "after-enroll.html"} After Enroll
            %li
              %a{:href => "courses-admin.html"} Instructor Dashboard (Course List)
            %li
              %a{:href => "overview.html"} Instructor Dashboard (Performance)
            %li
              %a{:href => "students.html"} Students
            %li
              %a{:href => "reviews.html"} Reviews
            %li
              %a{:href => "engagement.html"} Course engagement
            %li
              %a{:href => "traffic-conversion.html"} Traffic & conversion
            %li
              %a{:href => "messages.html"} Messages
            %li
              %a{:href => "register.html"} Register
            %li
              %a{:href => "login.html"} Login
            %li
              %a{:href => "faq.html"} FAQ
            %li
              %a{:href => "404-error.html"} 404 Error
        %li
          %a{:href => "#"} Blog
          %ul.sub-menu
            %li
              %a{:href => "#"} Blog
              %ul.sub-menu
                %li
                  %a{:href => "blog-grid.html"} Blog Grid
                %li
                  %a{:href => "blog-left-sidebar.html"} Blog Left Sidebar
                %li
                  %a{:href => "blog-right-sidebar.html"} Blog Right Sidebar
            %li
              %a{:href => "#"} Blog Details
              %ul.sub-menu
                %li
                  %a{:href => "blog-details-left-sidebar.html"} Blog Details Left Sidebar
                %li
                  %a{:href => "blog-details-right-sidebar.html"} Blog Details Right Sidebar
        %li
          %a{href: new_contact_path} Kontakt
    / Mobile Menu End
  / Mobile Menu End
  / Overlay Start
  .overlay
  / Overlay End
  / Page banner Section Start
  .section.page-banner-section{style: "background-image: url(#{asset_path('page-banner.jpg')});"}
    .container
      / Page banner Section Start
      .page-banner-content
        %h2.page-title Skontaktuj się z nami
        %ul.breadcrumb
          %li.breadcrumb-item
            %a{href: home_index_path} Strona główna
          %li.breadcrumb-item.active Kontakt
      / Page banner Section End
  / Page banner Section End
  / Contact Map Start
  .section.section-padding-02
    .container
      / Contact Map Wrapper Start
      .contact-map-wrapper
        %iframe#gmap_canvas{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4887.271206153421!2d21.001129457600932!3d52.23183789997865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc8c92692e49%3A0xc2e97ae5311f2dc2!2sPa%C5%82ac%20Kultury%20i%20Nauki!5e0!3m2!1spl!2sus!4v1743078383266!5m2!1spl!2sus", allowfullscreen: "", loading: "lazy", referrerpolicy: "no-referrer-when-downgrade"}
      / Contact Map Wrapper End
  / Contact Map End
  / Contact Section Start
  .section.section-padding
    .container
      / Contact Wrapper Start
      .contact-wrapper
        .row.justify-content-center
          .col-lg-6
            / Contact Content Start
            .contact-content
              / Contact Title Start
              .contact-title
                %h4.sub-title Masz jakieś pytania?
                %h2.main-title Napisz do nas
              / Contact Title End
              / Contact Form Start
              .contact-form
                = simple_form_for @contact, url: contacts_path, method: :post, html: { class: "contact-form" } do |f|
                  - if flash[:error].present?
                    .alert.alert-info{:role => "alert"}
                      %p.text-center= flash[:error]&.html_safe
                  .row.gx-3
                    .col-md-6
                      .single-form
                        = f.text_field :name, placeholder: "Imie", required: true, autofocus: true
                    .col-md-6
                      .single-form
                        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", type: "email", required: true
                    .col-md-12
                      .single-form
                        = f.text_field :subject, placeholder: "Tytuł", autofocus: true, required: true
                    .col-md-12
                      .single-form
                        = f.text_area :message, as: :text, placeholder: "Treść", autofocus: true, required: true
                    %p.form-message
                    .col-md-12
                      .single-form
                        = f.submit 'Wyślij', class: 'btn btn-secondary btn-hover-primary'

          .col-lg-6
            / Contact Information Start
            .contact-information
              .information-wrapper
                %img.shape{alt: "", src: asset_path("shape/shape-11.png")}/
                .single-info
                  %h3.info-title Phone:
                  %p +48 184364942
                  %p +48 515210222
                .single-info
                  %h3.info-title Email:
                  %p kontakt@shareplate.pl
                  %p dok@shareplate.pl
                .single-info
                  %h3.info-title Adres:
                  %p Pałac Kultury i Nauki, Plac Defilad 1
                  %p 00-901 Warszawa, Polska
            / Contact Information End
      / Contact Wrapper End
  / Contact Section End
  / Download App Start
  / Download Section Start
  .section.section-padding.download-section
    %img.shape-01{alt: "Shape", src: asset_path("shape/shape-7.png")}/
    %img.shape-02{alt: "Shape", src: asset_path("shape/shape-8.png")}/
    .container
      / Download App Wrapper Start
      .download-app-wrapper
        / Section Title Start
        .section-title.shape-none
          %h6.sub-title Aplikacja do ratowania żywności już wkrótce dostępna
          %h2.main-title Pobierz naszą aplikację i zacznij ratować żywność w każdej chwili.
        / Section Title End
        / Download App Button End
        .download-app-btn
          %ul.app-btn
            %li
              %a{href: "#"}
                %img{alt: "Play Store", src: asset_path("play-store.jpg")}/
            %li
              %a{href: "#"}
                %img{alt: "App Store", src: asset_path("app-store.jpg")}/
        / Download App Button End
      / Download App Wrapper End
  / Download App End

